<div class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li><a href="{{path('propiedad_index')}}"><i class="fa fa-fw fa-home"></i> Propiedades </a></li>
        <li><a href="{{path('subasta_index')}}"><i class="fas fa-donate"></i> Subastas </a></li>
        <li><a href="{{path('estadosubasta_index')}}"><i class="fas fa-donate"></i> Estados Subasta </a></li>
        <li>
            <a href="#sm_expand_1" data-toggle="collapse">
                <i class="fa fa-fw fa-link"></i> Expandable Menu Item
            </a>
            <ul id="sm_expand_1" class="list-unstyled collapse">
                <li><a href="#">Submenu Item</a></li>
                <li><a href="#">Submenu Item</a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
        <li><a href="#"><i class="fa fa-fw fa-link"></i> Menu Item</a></li>
    </ul>
</div>