<div class="row">
    {% for f in filters %}
        <div class="form-group col-12 col-sm-4">
            {{ form_label(f) }}
            {{ form_widget(f, { 'attr': {'class': 'form-control upper'} }) }}
            <div class="text-danger">
                {{ form_errors(f) }}
            </div>
        </div>
    {% endfor %}
</div>
