{% include '@Pg/Paginator/components/mass_actions_form.html.twig' %}
{% if paginator.filterTheme == 'left' %}
	<div class="row justify-content-center align-items-bottom">
		<div class="col-11">
			<div class="row">
			    {% include '@Pg/Paginator/components/mass_actions.html.twig' %}
			    {# {% if ( paginator.totalPages > 1 and not paginator.hide.pageNav ) %} #}
			    	{% include '@Pg/Paginator/components/page_nav.html.twig' %}
			    {# {% endif %} #}
			    {% if paginator.exports|length > 0 %}
			    	{% include '@Pg/Paginator/components/exports.html.twig' %}
			    {% endif %}
			    {% include '@Pg/Paginator/components/rows_page.html.twig' %}
			</div>
		</div>
	</div>
{% else %}
	<div class="col-11">
		<div class="row">
			<div class="col-sm-12">
			    {% include '@Pg/Paginator/components/mass_actions.html.twig' %}
			    {# {% if ( paginator.totalPages > 1 and not paginator.hide.pageNav ) %} #}
			    	{% include '@Pg/Paginator/components/page_nav.html.twig' %}
			    {# {% endif %} #}
			    {% if paginator.exports|length > 0 %}
			    	{% include '@Pg/Paginator/components/exports.html.twig' %}
			    {% endif %}
			    {% include '@Pg/Paginator/components/rows_page.html.twig' %}
			</div>
		</div>
	</div>
{% endif %}

