<div class="alert alert-danger alert-dismissible invisible" role="alert" id="mass-count-error">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ 'You must select at least one item'|trans }}
</div>
