{% extends 'admin_base.html.twig' %}

{% block body %}
<br>
    <div class="container mt-2">
        <div class="row justify-content-center">
            {% include 'mensajes.html.twig' %}
        </div>
    </div>
    <h2 class="mb-4">Home Switch Home</h2>

    <div class="card mb-4">
        <div class="card-body">
            Administración
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}
